Repository moevm/nosql1h25-asttrees, pull requests merged in 2025-05, with the labels that each got.

#17 feat: continue mocks for repos. refs #10 #9
  frontend/src/main.tsx
  frontend/src/routes/user-panel/user/RepoCard.tsx
  frontend/src/routes/user-panel/user/RepoList.tsx
  frontend/src/routes/user-panel/user/repo-panel/repo/RepoViewPage.tsx
  frontend/src/routes/user-panel/user/repo-panel/repo/components/RepoFileTable.tsx
  frontend/src/types/RepoFileProps.ts
Labels: frontend

#21 feat: update
  backend/build.gradle
  backend/src/main/java/ru/sweetgit/backend/configuration/OpenApiConfiguration.java
  backend/src/main/java/ru/sweetgit/backend/configuration/SecurityConfiguration.java
  backend/src/main/java/ru/sweetgit/backend/controller/UserController.java
  backend/src/main/java/ru/sweetgit/backend/dto/response/LoginResponseDto.java
  backend/src/main/java/ru/sweetgit/backend/handler/RestExceptionHandler.java
  backend/src/main/java/ru/sweetgit/backend/service/ArangoSchemaInitializer.java
  backend/src/main/java/ru/sweetgit/backend/service/JwtAuthFilter.java
  backend/src/main/java/ru/sweetgit/backend/service/JwtService.java
  backend/src/main/java/ru/sweetgit/backend/service/UserDetailsServiceImpl.java
  backend/src/main/java/ru/sweetgit/backend/service/UserService.java
  backend/src/main/resources/application.yaml
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/ui/sonner.tsx
  frontend/src/main.tsx
  frontend/src/routes/reg-auth-page/AuthorisationPage.tsx
  frontend/src/schema.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
Labels: frontend, backend

#31 feat: add repo. refs #28
  frontend/src/api/index.ts
  frontend/src/columns/columnsUsers.tsx
  frontend/src/components/SessionManager.tsx
  frontend/src/components/dialogs/UserAddRepoDialog.tsx
  frontend/src/components/dialogs/UserRepoSettingsDialog.tsx
  frontend/src/components/dialogs/reposQuaries.ts
  frontend/src/main.tsx
  frontend/src/routes/reg-auth-page/AuthorisationPage.tsx
  frontend/src/routes/user-panel/user/UserPage.tsx
  frontend/src/routes/user-panel/user/components/RepoCard.tsx
  frontend/src/routes/user-panel/user/repo-panel/repo/RepoViewPage.tsx
  frontend/src/routes/user-panel/user/repo-panel/repo/commit-history-panel/CommitHistoryViewPage.tsx
  frontend/src/routes/user-panel/user/repo-panel/repo/components/RepoFileTable.tsx
  frontend/src/routes/user-panel/user/repo-panel/repo/file-panel/file/FileViewPage.tsx
  frontend/src/routes/user-panel/user/repo-panel/repo/file-panel/file/components/FileTable.tsx
Labels: frontend

#70 67 filter implementation useservertable
  backend/src/main/resources/application.yaml
  frontend/src/components/custom/table/DataTablePagination.tsx
  frontend/src/components/custom/table/RichTableView.tsx
  frontend/src/hooks/useServerTable.tsx
  frontend/src/routes/admin-panel/branches/AdminBranchesPage.tsx
  frontend/src/routes/admin-panel/branches/components/AdminBranchesTableView.tsx
  frontend/src/routes/admin-panel/commits/AdminCommitsPage.tsx
  frontend/src/routes/admin-panel/commits/components/AdminCommitsTableView.tsx
  frontend/src/routes/admin-panel/components/AppSidebar.tsx
  frontend/src/routes/admin-panel/repos/AdminReposPage.tsx
  frontend/src/routes/admin-panel/repos/components/AdminReposTableView.tsx
  frontend/src/routes/admin-panel/users/AdminUsersPage.tsx
  frontend/src/routes/admin-panel/users/components/AdminUsersTableView.tsx
  frontend/src/schema.ts
Labels: frontend

#73 Исправление диалогов
  frontend/src/components/dialogs/UserAddRepoDialog.tsx
  frontend/src/components/dialogs/UserSettingsDialog.tsx
  frontend/src/lib/types.ts
Labels: bug, frontend
